<li class="mpl-dropdown mpl-dropdown-cart">
    <a class="mpl-nav-link" role="button" href="/cart">
        <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1H5L7.68 14.39M7.68 14.39C7.77144 14.8504 8.02191 15.264 8.38755 15.5583C8.75318 15.8526 9.2107 16.009 9.68 16H19.4C19.8693 16.009 20.3268 15.8526 20.6925 15.5583C21.0581 15.264 21.3086 14.8504 21.4 14.39L23 6H6L7.68 14.39ZM10 21C10 21.5523 9.55228 22 9 22C8.44772 22 8 21.5523 8 21C8 20.4477 8.44772 20 9 20C9.55228 20 10 20.4477 10 21ZM21 21C21 21.5523 20.5523 22 20 22C19.4477 22 19 21.5523 19 21C19 20.4477 19.4477 20 20 20C20.5523 20 21 20.4477 21 21Z"/>
        </svg>
    </a><!--
    <div class="mpl-dropdown-menu">
        <div class="row justify-content-between vgap">
            <div class="col-12">
                <table class="table mpl-table-shop mpl-table-shop-sm mpl-table-responsive mb-0">
                    <tbody>
                    <tr class="mpl-table-product mpl-table-product-sm">
                        <td class="mpl-table-image">
                            <a href="shop-product.html" class="mpl-table-product-image">
                                                            <span class="mpl-image">
                                                                <img src="assets/images/dark/product-2-260x200.jpg"
                                                                     alt="">
                                                            </span>
                            </a>
                        </td>
                        <td class="mpl-table-name" data-title="Product">
                            <a href="shop-product.html" class="mpl-table-product-title h5">Headphones MPL</a>
                            <span class="mpl-price"> $84.99 </span>
                        </td>
                        <td class="mpl-table-remove">
                            <a href="#" class="mpl-table-product-remove">
                                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 6L6 18M6 6L18 18"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-between h5 mb-0">
                    <span>Subtotal:</span>
                    <span>$204.99</span>
                </div>
            </div>
            <div class="col-12">
                <div class="row hgap-xs vgap-xs">
                    <div class="col">
                        <a href="cart.html" class="btn btn-block btn-default">View cart</a>
                    </div>
                    <div class="col">
                        <a href="checkout.html" class="btn btn-block btn-default">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</li>